/* Weather Dashboard CSS */

#headline {
    
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0px;
    text-align: center;
}

.form-control {
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 20px;
    width: 75%;
}

#search-button {
    color: white;
   margin-top: 10px; 
   background-color: lightseagreen;
}

.jumbotron {
    margin-right: 10px;
}

#current-city {
    font-weight: bold;
}

#date {
    float: left;
}

.card {
    margin: 0px 10px 10px 10px;
    background-color: lightseagreen;
    color: white;
    width: 200px;
}